body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 30px;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Suaviza la transición del color */
}
button:hover {
    background-color: #0056b3;
}


#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;

    width: 100%; /* Esto asegura que el menú ocupe el ancho de la pantalla si es necesario */
    max-width: 400px; /* Esto limita el ancho máximo del menú a 400px */
    margin: auto; /* Esto centrará el menú en el medio de la pantalla */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(134, 90, 90, 0.1);
}



#menu button {
    padding: 10px 20px;
    margin-bottom: 10px;
    /* Los demás estilos del botón pueden ser iguales a los que ya tienes */
}
